body {
	background-color: #FDFAFA;
    font: 24px/1.5 "Neue Haas Unica W01 Regular", Helvetica, Arial,sans-serif;
    color: rgba(35,30,30,0.9);
    text-rendering: optimizeLegibility;
    margin-left: auto;
    margin-right: auto;
    width: 50em
}
a{
	text-decoration: none;
	cursor: pointer;
}

a.title{
	 color: rgba(35,30,30,0.9);
}

a.Tyler{
	color: #6699ff;
}

a.Github{
	color: #00CC77;
}

a.Writing{
	color: #E64626;
}

a.Art{
	color: #D3771A;
}

ol{
	list-style-type: upper-roman;
	margin: 1em;
}

ul{
	list-style-type: none;
}

div {
	margin: auto;
}

p.workheader{
	text-align: center;
	color: Grey;
	font-size: 30px;
	font-style: italic;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 0px solid;
}

div.projects{
	text-align: center;
	margin-bottom: 10px;
}

hr.style1 {
	border: 1px dashed #8c8b8b;
}