body {
	background-color: #FDFAFA;
    font: 22px/1.5 "Neue Haas Unica W01 Regular", Helvetica, Arial,sans-serif;
    color: rgba(35,30,30,0.9);
    /*text-align: left;*/
    text-rendering: optimizeLegibility;
    margin-left: auto;
    margin-right: auto;
    width: 50em
}
a{
	text-decoration: none;
}

a.Tyler{
	color: #6699ff;
}

a.Github{
	color: #00CC77;
}

ol{
	list-style-type: upper-roman;
	margin: 1em;
}

ul{
	list-style-type: none;
}

div {
	margin: auto;
}