body {
	background-color: #FEFEFE;
    font: 24px/1.5 'Montserrat', Helvetica, Arial,sans-serif;
    color: rgba(35,30,30,0.9);
    text-rendering: optimizeLegibility;
}

/*Text*/

section.text-section{
    max-width: 50em;
    margin: 0 auto;
}

section.text-section-thin{
    max-width: 36em;
    margin: 0 auto;
}

ol{
	list-style-type: upper-roman;
	margin: 1em;
}

ul.bulletless{
    list-style: none;
}

hr.style1 {
	border: 1px dashed #8c8b8b;
}

h1.work-header {
    text-align: center;
    font-size: 2em;
}

p.work-tasks {
    text-align: center;
}

/*Images*/
.img-profile{
    width: 20em;
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 50%;
}

.img-work-page{
    width: 50em;
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 20px;
}

figcaption{
    text-align: center;
    font: 20px/1.0 'Montserrat', Helvetica, Arial,sans-serif;
}

figure{
    margin-bottom: 20px;
}

/*links*/
a{
	text-decoration: none;
	cursor: pointer;
}

a.title{
	 color: rgba(35,30,30,0.9);
}

a.Blue{
	color: #6699ff;
}

a.Green{
	color: #00CC77;
}

a.Red{
	color: #E64626;
}

a.Ochre{
	color: #D3771A;
}

a.image-link {
    display: inline-block;
    vertical-align: bottom; /* try out: bottom, middle, top */
    margin-bottom: 30px;
    text-decoration: none;
}

a.image-link img {
    vertical-align: bottom; /* try out: bottom, middle, top */
}

#portfolio .portfolio-item {
    max-width: 60em;
    text-align: center;
}

.about-me-panel{
    background-color: #E64626;
    margin-bottom: 10px;
}

.image-link .text {
display: inline;
text-align: left;
position: absolute;
bottom:50px;
left:25px;
visibility:hidden;
color: black;
}

.image-link:hover .text {
visibility:visible;
}


/*navbar*/
.navbar-default{
    background-color: #FDFDFD;
    border: 0px;
    margin-top: 10px;
    padding-right: 10px;
}

.navbar-nav > li{
    margin-left: 10px;
    padding-left: 5px;
}

.navbar-nav > li.active{
    -ms-transform: skewX(-8deg); /* IE 9 */
    -webkit-transform: skewX(-8deg); /* Safari */
    transform: skewX(-10deg);
}

.navbar-nav > li.active > a{
    background-color: #6699ff !important;
}

.navbar-nav > li.active-about > a{
    background-color: #E64626 !important;
}

.navbar-nav > li.active-res > a{
    background-color: #D3771A !important;
}

.navbar-nav > li.active > a > span{
    display:inline-block; /*important line*/
    -ms-transform: skewX(10deg); /* IE 9 */
    -webkit-transform: skewX(10deg); /* Safari */
    transform: skewX(10deg);
    color:  #FEFEFE; 
}
